<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Alianzas</title>
  </head>
  <header class="bg-purple-800 px-8 ">
    <nav class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8" aria-label="Top"><div
        class="w-full py-6 flex items-center justify-between border-b border-indigo-500 lg:border-none">
        <div class="flex items-center">
          <a
            class="text-center text-purple-200"
            href="http://www.ciudadmujer.gov.py/"
          >
            <img src="../static/logoaa.png" alt="logo" width="50" />
          </a>
          <div class="grid grid-cols-3">
            <div class="hidden ml-10 space-x-8 lg:block mt-3">
              <a
                href="#"
                class="text-base font-medium text-1xl text-purple-200 hover:text-purple-300"
              >
                Promociones
              </a>
              <a
                href="#"
                class="text-base font-medium text-1xl text-purple-200 hover:text-purple-300"
              >
                Mapa
            </a>
            </div>
        </div>
      </div>
    </nav>
  </header>
  <body
  ><h1 class="text-center text-purple-800 pt-6 text-2xl text-center ">
    <b> Todas las Alianzas </b>
  <form class="pt-6 px-2 w-32 min-w-full text-center " >
      <div  >
        <div class="flex flex-row bg-purple-300 ">
        <div class="text-white text-center bg-purple-500 px-4 py-2 m-2 content-start text-base "> <b>Alianza 1 </b> </div>
        </div>
        <div class="overflow-x-auto relative">
          <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
              <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                  <tr>
                      <th scope="col" class="py-3 px-6">
                          Datos
                      </th>
                      <th scope="col" class="py-3 px-6">
                          Emprendimiento 1
                      </th>
                      <th scope="col" class="py-3 px-6">
                          Emprendimiento 2
                    </th>
                      <th scope="col" class="py-3 px-6">
                  </tr>
              </thead>
              <tbody>
                  <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                      <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                          Nombre del Emprendimiento
                      </th>
                      <td class="py-4 px-6">
                          Nombre de emprendimiento 1
                      </td>
                      <td class="py-4 px-6">
                        Nombre de emprendimiento 2
                      </td>
                    </td>
                  </tr>
                  <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                      <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                          Encargada
                      </th>
                      <td class="py-4 px-6">
                          Encargada 1
                      </td>
                      <td class="py-4 px-6">
                          Encargada 2
                      </td>
                  </tr>
                  <tr class="bg-white dark:bg-gray-800">
                      <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                          Servicio
                      </th>
                      <td class="py-4 px-6">
                          Servicio
                      </td>
                      <td class="py-4 px-6">
                          Servicio
                      </td>
                  </tr>
              </tbody>
          </table>
  
  </form>
  <form class="pt-6 px-2 w-32 min-w-full text-center " >
    <div  >
      <div class="flex flex-row bg-purple-300 ">
      <div class="text-white text-center bg-purple-500 px-4 py-2 m-2 content-start text-base "> <b>Alianza 1 </b> </div>
      </div>
      <div class="overflow-x-auto relative">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="py-3 px-6">
                        Datos
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Emprendimiento 1
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Emprendimiento 2
                  </th>
                    <th scope="col" class="py-3 px-6">
                </tr>
            </thead>
            <tbody>
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        Nombre del Emprendimiento
                    </th>
                    <td class="py-4 px-6">
                        Nombre de emprendimiento 1
                    </td>
                    <td class="py-4 px-6">
                      Nombre de emprendimiento 2
                    </td>
                  </td>
                </tr>
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        Encargada
                    </th>
                    <td class="py-4 px-6">
                        Encargada 1
                    </td>
                    <td class="py-4 px-6">
                        Encargada 2
                    </td>
                </tr>
                <tr class="bg-white dark:bg-gray-800">
                    <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        Servicio
                    </th>
                    <td class="py-4 px-6">
                        Servicio
                    </td>
                    <td class="py-4 px-6">
                        Servicio
                    </td>
                </tr>
            </tbody>
        </table>

</form>

  </body>
  <footer class="bg-purple-800 grid grid-cols-3">
    <p></p>
    <a class="text-purple-200 mx-16" href="https://penguin.academy/dl/Principal"
      >Penguin Academy 🐧</a
    >
    <p></p>
  </footer>

</html