<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_0ee7da9d83eff217a4d4571e19e621b2 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_0ee7da9d83eff217a4d4571e19e621b2" ></div>
        
</body>
<script>    
    
            var map_0ee7da9d83eff217a4d4571e19e621b2 = L.map(
                "map_0ee7da9d83eff217a4d4571e19e621b2",
                {
                    center: [-25.301379182412745, -57.58094636564712],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_c6c9bbc9853a84148056e9986dced1a2 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_0ee7da9d83eff217a4d4571e19e621b2);
        
    
            var marker_af264a2fcaa80b1b9045d5051bbb63e5 = L.marker(
                [-25.300516570858075, -57.5820053818461],
                {}
            ).addTo(map_0ee7da9d83eff217a4d4571e19e621b2);
        
    
        var popup_1153c2917837fed39c31c1a983f8b90b = L.popup({"maxWidth": "100%"});

        
            var html_174cbfa0ed811c88d37041127ec66268 = $(`<div id="html_174cbfa0ed811c88d37041127ec66268" style="width: 100.0%; height: 100.0%;">                     <h2>Leyda Cosmeticos </h2>                     <p>fdsfsdf</p>                     <a href="https://wa.me/595545454/?" target="_blank">                         <img src="static/logo-wasap.png" width="50" height="50">                     </a>                     <a href="/crear_alianza" target="_blank">                     <button type="button" class="text-white bg-gradient-to-r from-purple-500 to-pink-500 hover:bg-gradient-to-l focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">                     Crear Alianza                     </button>                     </a>                 </div>`)[0];
            popup_1153c2917837fed39c31c1a983f8b90b.setContent(html_174cbfa0ed811c88d37041127ec66268);
        

        marker_af264a2fcaa80b1b9045d5051bbb63e5.bindPopup(popup_1153c2917837fed39c31c1a983f8b90b)
        ;

        
    
    
            var marker_c69f5c45ac3aa77afb84f552c573e8b0 = L.marker(
                [-25.29974059140448, -57.58264911200968],
                {}
            ).addTo(map_0ee7da9d83eff217a4d4571e19e621b2);
        
    
        var popup_0460ae9443bd91b6850b0dc832d52466 = L.popup({"maxWidth": "100%"});

        
            var html_896f888dd6510aebe85dea810664ce87 = $(`<div id="html_896f888dd6510aebe85dea810664ce87" style="width: 100.0%; height: 100.0%;">                     <h2>Peluqueria Tamy Lila </h2>                     <p>fdsjjskf</p>                     <a href="https://wa.me/595654564/?" target="_blank">                         <img src="static/logo-wasap.png" width="50" height="50">                     </a>                     <a href="/crear_alianza" target="_blank">                     <button type="button" class="text-white bg-gradient-to-r from-purple-500 to-pink-500 hover:bg-gradient-to-l focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">                     Crear Alianza                     </button>                     </a>                 </div>`)[0];
            popup_0460ae9443bd91b6850b0dc832d52466.setContent(html_896f888dd6510aebe85dea810664ce87);
        

        marker_c69f5c45ac3aa77afb84f552c573e8b0.bindPopup(popup_0460ae9443bd91b6850b0dc832d52466)
        ;

        
    
    
            var marker_2b27ff84025f658a2f60a0c1f838a2ba = L.marker(
                [-25.29931380058749, -57.58228433158366],
                {}
            ).addTo(map_0ee7da9d83eff217a4d4571e19e621b2);
        
    
        var popup_b86a618fef8c396c5fc5723409bbfdf6 = L.popup({"maxWidth": "100%"});

        
            var html_f44af341cf12930d15549a73dcfe43df = $(`<div id="html_f44af341cf12930d15549a73dcfe43df" style="width: 100.0%; height: 100.0%;">                     <h2>Manicura Meli </h2>                     <p>jkfdshjkfh</p>                     <a href="https://wa.me/5955454564/?" target="_blank">                         <img src="static/logo-wasap.png" width="50" height="50">                     </a>                     <a href="/crear_alianza" target="_blank">                     <button type="button" class="text-white bg-gradient-to-r from-purple-500 to-pink-500 hover:bg-gradient-to-l focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">                     Crear Alianza                     </button>                     </a>                 </div>`)[0];
            popup_b86a618fef8c396c5fc5723409bbfdf6.setContent(html_f44af341cf12930d15549a73dcfe43df);
        

        marker_2b27ff84025f658a2f60a0c1f838a2ba.bindPopup(popup_b86a618fef8c396c5fc5723409bbfdf6)
        ;

        
    
</script>