<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_54d5a9110d7929c5e29525f2e6a2f9dd {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_54d5a9110d7929c5e29525f2e6a2f9dd" ></div>
        
</body>
<script>    
    
            var map_54d5a9110d7929c5e29525f2e6a2f9dd = L.map(
                "map_54d5a9110d7929c5e29525f2e6a2f9dd",
                {
                    center: [-25.301379182412745, -57.58094636564712],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_8cbdcfc510c9ea76c0045db7d6c2382f = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_54d5a9110d7929c5e29525f2e6a2f9dd);
        
    
            var marker_816a897a2a28f3a0ced25f56116c999e = L.marker(
                [-25.300516570858075, -57.5820053818461],
                {}
            ).addTo(map_54d5a9110d7929c5e29525f2e6a2f9dd);
        
    
        var popup_e786afe92fbeb6491f5471f55562330c = L.popup({"maxWidth": "100%"});

        
            var html_f53cf62444f31581b025c3dabfcb96df = $(`<div id="html_f53cf62444f31581b025c3dabfcb96df" style="width: 100.0%; height: 100.0%;">                     <h2>Leyda Cosmeticos </h2>                     <p>fdsfsdf</p>                     <a href="https://wa.me/595545454/?" target="_blank">                         <img src="static/logo-wasap.png" width="50" height="50">                     </a>                     <a href="/crear_alianza" target="_blank">                     <button type="button" class="text-white bg-gradient-to-r from-purple-500 to-pink-500 hover:bg-gradient-to-l focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">                     Crear Alianza                     </button>                     </a>                 </div>`)[0];
            popup_e786afe92fbeb6491f5471f55562330c.setContent(html_f53cf62444f31581b025c3dabfcb96df);
        

        marker_816a897a2a28f3a0ced25f56116c999e.bindPopup(popup_e786afe92fbeb6491f5471f55562330c)
        ;

        
    
    
            var marker_162cfee2312fc7c69705f64325a4287a = L.marker(
                [-25.29974059140448, -57.58264911200968],
                {}
            ).addTo(map_54d5a9110d7929c5e29525f2e6a2f9dd);
        
    
        var popup_bc1c97690ac2c91c6a07f9c6f41d180f = L.popup({"maxWidth": "100%"});

        
            var html_99d0690dd9dcf93217db23eea791dc37 = $(`<div id="html_99d0690dd9dcf93217db23eea791dc37" style="width: 100.0%; height: 100.0%;">                     <h2>Peluqueria Tamy Lila </h2>                     <p>fdsjjskf</p>                     <a href="https://wa.me/595654564/?" target="_blank">                         <img src="static/logo-wasap.png" width="50" height="50">                     </a>                     <a href="/crear_alianza" target="_blank">                     <button type="button" class="text-white bg-gradient-to-r from-purple-500 to-pink-500 hover:bg-gradient-to-l focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">                     Crear Alianza                     </button>                     </a>                 </div>`)[0];
            popup_bc1c97690ac2c91c6a07f9c6f41d180f.setContent(html_99d0690dd9dcf93217db23eea791dc37);
        

        marker_162cfee2312fc7c69705f64325a4287a.bindPopup(popup_bc1c97690ac2c91c6a07f9c6f41d180f)
        ;

        
    
    
            var marker_b2458fb28436ba5ce56b72ea2508368a = L.marker(
                [-25.29931380058749, -57.58228433158366],
                {}
            ).addTo(map_54d5a9110d7929c5e29525f2e6a2f9dd);
        
    
        var popup_84bb181b79c0d3eedf4c7654102abb8f = L.popup({"maxWidth": "100%"});

        
            var html_af913621483af6bced6efc88a0be5d63 = $(`<div id="html_af913621483af6bced6efc88a0be5d63" style="width: 100.0%; height: 100.0%;">                     <h2>Manicura Meli </h2>                     <p>jkfdshjkfh</p>                     <a href="https://wa.me/5955454564/?" target="_blank">                         <img src="static/logo-wasap.png" width="50" height="50">                     </a>                     <a href="/crear_alianza" target="_blank">                     <button type="button" class="text-white bg-gradient-to-r from-purple-500 to-pink-500 hover:bg-gradient-to-l focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">                     Crear Alianza                     </button>                     </a>                 </div>`)[0];
            popup_84bb181b79c0d3eedf4c7654102abb8f.setContent(html_af913621483af6bced6efc88a0be5d63);
        

        marker_b2458fb28436ba5ce56b72ea2508368a.bindPopup(popup_84bb181b79c0d3eedf4c7654102abb8f)
        ;

        
    
</script>