<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_33dfb43fd478892638290eaff878c503 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_33dfb43fd478892638290eaff878c503" ></div>
        
</body>
<script>    
    
            var map_33dfb43fd478892638290eaff878c503 = L.map(
                "map_33dfb43fd478892638290eaff878c503",
                {
                    center: [-25.301379182412745, -57.58094636564712],
                    crs: L.CRS.EPSG3857,
                    zoom: 18,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_bd2b112969f242c3e4c372cc0bf15fdb = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_33dfb43fd478892638290eaff878c503);
        
    
            var marker_1655445e61cf9c875c8b37a13f89932f = L.marker(
                [-25.299447367064626, -57.575911402964266],
                {}
            ).addTo(map_33dfb43fd478892638290eaff878c503);
        
    
        var popup_0fcd234c3bcd15699d7da2f15b89d787 = L.popup({"maxWidth": "100%"});

        
            var html_0eac8068e130cdf09f8fcb2dea83513c = $(`<div id="html_0eac8068e130cdf09f8fcb2dea83513c" style="width: 100.0%; height: 100.0%;">                     <h2>erhgdsjh </h2>                     <p>dsjghsdhhb</p>                     <p>celular:03245655</p>                 </div>`)[0];
            popup_0fcd234c3bcd15699d7da2f15b89d787.setContent(html_0eac8068e130cdf09f8fcb2dea83513c);
        

        marker_1655445e61cf9c875c8b37a13f89932f.bindPopup(popup_0fcd234c3bcd15699d7da2f15b89d787)
        ;

        
    
</script>