<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Principal</title>
  </head>
  <header class="bg-purple-800">
    <nav class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8" aria-label="Top">
      <div
        class="w-full py-6 flex items-center justify-between border-b border-indigo-500 lg:border-none"
      >
        <div class="flex items-center">
          <a
            class="text-center text-purple-200"
            href="http://www.ciudadmujer.gov.py/"
          >
            <img src="../static/logoaa.png" alt="logo" width="50" />
          </a>
          <div class="hidden ml-10 space-x-8 lg:block">
            <a
              href="#"
              class="text-base font-medium text-1xl text-purple-200 hover:text-purple-300"
            >
              Alianzas
            </a>

            <a
              href="#"
              class="text-base font-medium text-1xl text-purple-200 hover:text-purple-300"
            >
              Mapa
            </a>
          </div>
        </div>
        <div class="ml-10 space-x-4">
          <a
            href="/registro"
            class="text-1xl inline-block bg-purple-200 py-2 px-4 border border-transparent rounded-md text-base font-medium text-purple-800 hover:bg-opacity-75"
            >Registrarse</a
          >
        </div>
      </div>
    </nav>
  </header>
  <body
    class="bg-[url('https://img.freepik.com/vector-gratis/fondo-color-pastel-diseno-plano-dibujado-mano_23-2149377040.jpg?w=2000')]"
  >
    <div class="grid grid-cols-2">
      <img
        class="mx-auto my-12"
        src="../static/logo.png"
        alt="logo"
        width="500"
      />
      <p class="text-center my-24 text-2xl">
      
        <em><b>BIENVENIDAS VALIENTES MUJERES</em>
          <br /><br />Un espacio para todas las mujeres emprendedoras<br />
          donde todo granito de arena nos ayuda a poder  <br/>
          crecer juntas, que sueñan con compartir sus 
          <br /> trabajos, servicios y todo lo que este a su alcance <br />
          para poder expandirse mas alla de lo cotidiano.<br /><br />¡¡JUNTAS PODEMOS MAS!!
        </b>
      </p>
    </div>
    <!-- nuestro team con fotos -->
    <div class="bg-purple-200" id="conocenos">
      <div class="bg-purple-800"></div>
      <div class="mx-auto py-12 px-4 max-w-7xl sm:px-6 lg:px-8 lg:py-24">
        <div class="grid grid-cols-1 gap-12 lg:grid-cols-3 lg:gap-8">
          <div class="space-y-5 sm:space-y-4">
            <h2 class="text-purple-800 text-3xl font-extrabold tracking-tight sm:text-4xl">
              Nuestro equipo:
            </h2>
          </div>

          <div class="lg:col-span-2">
            <ul
              role="list"
              class="space-y-12 sm:grid sm:grid-cols-2 sm:gap-12 sm:space-y-0 lg:gap-x-8"
            >
              <li>
                <div class="flex items-center space-x-4 lg:space-x-6">
                  <img class="rounded-full" src="../static/meli.jpeg" alt="logo" width="150" />
                  <div class="font-medium text-lg leading-6 space-y-1">
                    <h3 class="underline underline-offset-1 text-indigo-900">Melissa Lima</h3>
                    <p class="text-purple-800">Es de Slytherin de corazon</p>
                  </div>
                </div>
              </li>
              <li>
                <div class="flex items-center space-x-4 lg:space-x-6">
                  <img class="rounded-full" src="../static/ale.jpeg" alt="logo" width="150" />
                  <div class="font-medium text-lg leading-6 space-y-1">
                    <h3 class="underline underline-offset-1 text-indigo-900">Ale Pukall</h3>
                    <p class="text-purple-800">Queria back, le gusto mas front</p>
                  </div>
                </div>
              </li>
              <li>
                <div class="flex items-center space-x-4 lg:space-x-6">
                  <img class="rounded-full" src="../static/leyla.jpeg" alt="logo" width="150" />
                  <div class="font-medium text-lg leading-6 space-y-1">
                    <h3 class="underline underline-offset-1 text-indigo-900">Leyda Fleitas</h3>
                    <p class="text-purple-800">Base de datos</p>
                  </div>
                </div>
              </li>
              <li>
                <div class="flex items-center space-x-4 lg:space-x-6">
                  <img class="rounded-full" src="../static/arat.jpeg" alt="logo" width="150" />
                  <div class="font-medium text-lg leading-6 space-y-1">
                    <h3 class="underline underline-offset-1 text-indigo-900">Ara Taboada</h3>
                    <p class="text-purple-800">Mapas</p>
                  </div>
                </div>
              </li>
              <li>
                <div class="flex items-center space-x-4 lg:space-x-6">
                  <img class="rounded-full" src="../static/arac.jpeg" alt="logo" width="150" />
                  <div class="font-medium text-lg leading-6 space-y-1">
                    <h3 class="underline underline-offset-1 text-indigo-900">Ara Caballero</h3>
                    <p class="text-purple-800">Frontend FULL STACK</p>
                  </div>
                </div>
              </li>

              <li>
                <div class="flex items-center space-x-4 lg:space-x-6">
                  <img class="rounded-full" src="../static/profe.jpeg" alt="logo" width="150" />
                  <div class="font-medium text-lg leading-6 space-y-1">
                    <h3 class="underline underline-offset-1 text-indigo-900">Laura Sanchez</h3>
                    <p class="text-purple-800">La profe</p>
                  </div>
                </div>
              </li>
              <li>
                <div class="mb-12 flex items-center space-x-4 lg:space-x-6">
                  <img class="rounded-full" src="../static/coaches.jpeg" alt="logo" width="150" />
                  <div class="font-medium text-lg leading-6 space-y-1">
                    <h3 class="underline underline-offset-1 text-indigo-900">Clau y May</h3>
                    <p class="text-purple-800">Coach/Mentora</p>
                  </div>
                </div>
              </li>
          </div>
        </div>
</form>
</body>
<footer class="bg-purple-800 grid grid-cols-3">
  <p></p>
  <a class="text-purple-200 mx-16" href="https://penguin.academy/dl/Principal"
    >Penguin Academy 🐧2022  IruWeb.</a>
  <p></p>
</footer>
</html>
