<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Principal</title>
  </head>
  <header class="bg-purple-800">
    <nav class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8" aria-label="Top">
      <div
        class="w-full py-6 flex items-center justify-between border-b border-indigo-500 lg:border-none"
      >
        <div class="flex items-center">
          <a
            class="text-center text-purple-200"
            href="http://www.ciudadmujer.gov.py/"
          >
            <img src="../static/logoaa.png" alt="logo" width="50" />
          </a>
          <div class="hidden ml-10 space-x-8 lg:block">
            <a
              href="#"
              class="text-base font-medium text-1xl text-purple-200 hover:text-purple-300"
            >
              Promociones
            </a>

            <a
              href="#"
              class="text-base font-medium text-1xl text-purple-200 hover:text-purple-300"
            >
              Mapa
            </a>
          </div>
        </div>
        <div class="ml-10 space-x-4">
          <a
            href="#"
            class="text-1xl inline-block bg-purple-200 py-2 px-4 border border-transparent rounded-md text-base font-medium text-purple-800 hover:bg-opacity-75"
            >Registrarse</a
          >
        </div>
      </div>
    </nav>
  </header>
  <body
    class="bg-[url('https://img.freepik.com/vector-gratis/fondo-color-pastel-diseno-plano-dibujado-mano_23-2149377040.jpg?w=2000')]"
  >
    <div class="grid grid-cols-2">
      <img
        class="mx-auto my-12"
        src="../static/logo.png"
        alt="logo"
        width="500"
      />
      <p class="text-center my-24 text-2xl">
        <em>
          <b>BIENVENIDAS <br /><br />Un espacio para todas las mujeres
          emprendedoras<br />
          donde todo granito de arena nos ayuda a poder crecer juntas,<br />
          que sueñan con compartir sus Emprendimientos; trabajos,<br />
          servicios y todo lo que este a su alcance para poder expandirse<br />
          mas alla de lo cotidiano.<br /><br />JUNTAS PODEMOS MAS!!
        </em></b>
      </p>
    </div>
  </body>
  <footer class="bg-purple-800 grid grid-cols-3">
    <p></p>
    <a class="text-purple-200 mx-32" href="https://penguin.academy/dl/Principal"
      >Penguin Academy🐧</a
    >
    <p></p>
  </footer>
</html>
