<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Emprendedoras</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <form action="" method="post">
    <label for="nombre_de_emprendimiento">Nombre del emprendimiento:</label>
    <input type="text" id="nombre_de_emprendimiento" nombre_de_emprendimiento="nombre_de_emprendimiento">
    <label for="rubro">Rubro:</label>
    <input type="text" id="descripcion" name="descripcion">  
    <label for="contacto">Contacto:</label>
    <input type="text" id="contacto" name="contacto">
    <label for="latitud">Latitud:</label>
    <input type="text" id="latitud" name="latitud">
    <label for="longitud">Longitud:</label>
    <input type="text" id="longitud" name="longitud">
    <input type="submit" value = "Registrarse">

  </form>

  
</body>
</html>