<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
</head>
<body>
  <form action="method post">
    <label for="nombre">Nombre del emprendimiento:</label>
    <input type="text" id="nombre" name="nombre">
    <label for="descripcion">Rubro:</label>
    <input type="text" id="descripcion" name="descripcion">  
    <label for="contacto">Contacto:</label>
    <input type="int" id="contacto" name="contacto">
    <label for="latitud">Latitud:</label>
    <input type="float" id="latitus" name="latitud">
    <label for="longitud">Longitud:</label>
    <input type="float" id="longitud" name="longitud">
    <input type="submit" value = "Registrarse">

  </form>

  
</body>
</html>