<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.
css"
      rel="stylesheet"
    />
    <!-- favicon en pestaña -->
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='icoon.png') }}"
    />
    <!-- titulo en pestaña -->
    <title>Mapa de emprendedoras</title>
    <style>
      body::-webkit-scrollbar {
        display: none;
      }

      /* esconder scroll de la web */
      body {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
      }
    </style>
  </head>
  <body class="overflow-x-hidden bg-fuchsia-100">
    <!-- Barra e icons -->
    <header class="bg-purple-800 m:px-6 lg:px-10" aria-label="Top">
        <div
          class="w-full py-6 flex items-center justify-between border-b border-indigo-500 lg:border-none"
        >
          <div class="flex items-center">
            <a
              class="text-center text-purple-200"
              href="http://www.ciudadmujer.gov.py/"
            >
              <img src="../static/logoaa.png" alt="logo" width="50" />
            </a>
            <div class="hidden ml-10 space-x-8 lg:block">
              <a
                href="/alianzas"
                class="text-base font-medium text-1xl text-purple-200 hover:text-purple-300"
              >
                Alianzas
              </a>

              <a
                href="/vista_mapa"
                class="text-base font-medium text-1xl text-purple-200 hover:text-purple-300"
              >
                Mapa
              </a>
            </div>
          </div>
          <div class="ml-10 space-x-4">
            <a
              href="/"
              class="text-1xl inline-block bg-purple-200 py-2 px-4 border border-transparent rounded-md text-base font-medium text-purple-800 hover:bg-opacity-75"
              >Inicio</a
            >
          </div>
        </div>
      </nav>
    </header>

    <!-- Mensaje principal---- -->

    <div class="bg-purple-100" id="denuncia">
      <div class="max-w-7xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
        <div class="text-center">
          <h2
            class="text-base font-semibold text-violet-400 tracking-wide uppercase"
          ></h2>
          <p
            class="mt-1 text-4xl font-extrabold text-purple-800 sm:text-5xl sm:tracking-tight lg:text-6xl"
          >
            Red de emprendedoras
          </p>
          <p class="max-w-xl mt-5 mx-auto text-xl text-gray-500">
            Este espacio esta diseñado para vos! Para encontrarnos entre
            emprendedoras y crecer juntas
          </p>
        </div>
      </div>
    </div>
    <div class="bg-purple-100">
      <form class="grid grid-cols-2 mx-auto">
        <!-- Primera parte formulario---- -->

        <div
          class="mx-96 relative border flex justify-center border-gray-300 rounded-md px-3 py-2 shadow-sm focus-within:ring-1 focus-within:ring-indigo-600 focus-within:border-indigo-600 w-60"
        >
          <label
            for="rubro"
            class="absolute -top-2 left-2 -mt-px inline-block px-1 bg-purple-100 text-xs font-medium text-blue-900"
            >Listado de Rubros</label
          >
          <select name="rubro" id="rubro">
            <option value="seleccionar">Seleccione una opción</option>
            <option value="Belleza">Belleza</option>
            <option value="Gastronomia">Gastronomía</option>
            <option value="Artesanias">Artesanías</option>
            <option value="Prendas_de_vestir">Prendas de vestir</option>
            <option value="Cuidado_de_ancianos">Cuidado de ancianos</option>
            <option value="Trabajo_domestico">Trabajo domestico</option>
            <option value="Educacion">Educación</option>
            <option value="Cuidado_de_ninhos">Cuidado de niños</option>
            <option value="Decoracion">Decoración</option>
            <option value="Floricultura">Floricultura</option>
          </select>
          <!-- <input type="text" name="categoria" id="categoria" class="block w-full border-0 p-0 text-gray-900 placeholder-gray-500 focus:ring-0 sm:text-sm" placeholder="Ejemplo: Bache con agua"> -->
        </div>

        <!-- <div 
        class="relative border border-gray-300 rounded-md px-3 py-2 shadow-sm focus-within:ring-1 focus-within:ring-indigo-600 focus-within:border-indigo-600 w-60"
      >
        <label
          for="categoria"
          class="absolute -top-2 left-2 -mt-px inline-block px-1 bg-white text-xs font-medium text-blue-900"
          >Distancia de emprendimientos cercanos</label
        >
        <select name="categoria" id="categoria">
          <option value="1km">1km</option>
          <option value="5km">5km</option>
          <option value="10km">10km</option>
          <option value="15km">15km</option>
          <option value="20km">20km</option>
        </select>
        <input type="text" name="categoria" id="categoria" class="block w-full border-0 p-0 text-gray-900 placeholder-gray-500 focus:ring-0 sm:text-sm" placeholder="Ejemplo: Bache con agua">
      </div> -->

        <!-- boton Guardar -->

        <button
          type="submit"
          class="mx-40 inline-flex place-content-center items-center px-3 py-2 border border-transparent font-medium rounded-md shadow-sm text-white bg-purple-700 hover:bg-purple-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 w-60"
        >
          Historial de alianzas
        </button>
      </form>

      <!-- mapa de ubicaciones -->

      <div class="bg-purple-100" id="mapa">
        <div class="max-w-7xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
          <div class="text-center">
            <h2
              class="text-base font-semibold text-purple-300 tracking-wide uppercase"
            ></h2>
            <p
              class="mt-1 text-4xl font-extrabold text-purple-800 sm:text-5xl sm:tracking-tight lg:text-6xl"
            >
              Mapa
            </p>
            <p class="max-w-xl mt-5 mb-12 mx-auto text-xl text-gray-500">
              Unidas podemos hacer mas!.
            </p>
            <iframe class="mx-80"
              src=""  
              id="mapa_frame"
              width="600"
              height="450"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>
        </div>
      </div>
    </div>
    <footer class="bg-purple-800 grid grid-cols-3">
      <p></p>
      <a
        class="text-purple-200 mx-32"
        href="https://penguin.academy/dl/Principal"
        >Penguin Academy🐧</a
      >
      <p></p>
    </footer>
    <script>
      var select = document.getElementById("rubro");
      select.onchange = () => {
        console.log(document.getElementById("rubro").value);
        document.getElementById("mapa_frame").src = `/${
          document.getElementById("rubro").value
        }`;
        console.log(document.getElementById("mapa_frame"));
      };
      console.log(select);
    </script>

    <script>
      let DB = [];
      let uuid = Math.random().toString();
      var ubi = [];
      let listOfMarkers = [];

      loadPositions();

      if ("geolocation" in navigator) {
        console.log("location is available");
        searchPosition();
      } else {
        console.log("geolocation is not available");
      }

      async function loadPositions() {
        const response = await fetch("/nueva");
        const locations = await response.json();

        listOfMarkers.forEach(removeMarker);
        function removeMarker(marker) {
          map.removeLayer(marker);
        }

        listOfMarkers = [];
      }

      function searchPosition() {
        navigator.geolocation.getCurrentPosition(async (position) => {
          var lat = position.coords.latitude;
          var lon = position.coords.longitude;
          document.getElementById("latitud").value = lat;
          document.getElementById("longitud").value = lon;
          const data = { uuid, lat, lon };
          const options = {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify(data),
          };
          fetch("/nueva", options);
        });
      }
    </script>
  </body>
</html>
